<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.dao.BidRequestAuditHistoryMapper">

    <insert id="saveBidRequestAuditHistory"  keyProperty="id" useGeneratedKeys="true" parameterType="BidRequestAuditHistory">
        insert into bidrequestaudithistory (state, remark, auditTime,  applyTime, auditor_id, applier_id,
                                            bidRequestId, auditType)
        values (#{state}, #{remark}, #{auditTime},
                #{applyTime}, #{auditor.id}, #{applier.id},
                #{bidRequestId}, #{auditType})

    </insert>



</mapper>