<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.mapper.LoginMapper">

    <insert id="registerUser" keyProperty="id" useGeneratedKeys="true" parameterType="LoginInfo">
        insert into logininfo(username,password,state,usertype,admin) values(#{username},#{password},#{state},#{usertype},#{admin})
    </insert>

    <select id="loginByUsername" resultType="LoginInfo">
        select * from logininfo where username=#{username}
    </select>


</mapper>